
/* Diseñado como mobile first para index.html */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
/* Contenedores para grids */
.cont-1{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    align-content: center;
}
.cont-2{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    align-content: center;
}
.cont-3{
    display:grid;
    grid-template-columns: 1fr 2fr;
    align-content: center;
    
}
.cont-4{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    align-content: center;
    gap: 10px;
}

/* Formato de la foto circular */
#foto{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

/* Formato de los elementos */

/* header */

header{
    background-color: #27305b;
    padding:10px;
    color:white;  
    
}
    header h1{
      font-size: 30px;
      
    }
    /* Desaparecer los iconos del menú responsivo */
    .boton{
      display: none;
    }


    header ul{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        justify-content:center;
        list-style:none;
        font-size:15px;
    }

        header a{
            margin: 3px;
            color:white;
            text-align: left;
            text-shadow: 1px 1px black;
            padding: 8px 30px;
            max-width: 400px;
            background: #234567;
            display:grid;
            grid-template-columns: 1fr 4fr;
            text-decoration:none;/* Elimina el subrayado */
        }

        header a:hover{
          background: #2d353d;
        }

/* main */

    .cont-3{
      background-color: #f58c77;
    }



@media all and (max-width: 768px){
    header h1{
      font-size: 25px;
    }

    header ul{
        flex-direction: column;
        align-content: center;
        justify-content:center;
    }
    

  /* menu Hamburguesa */

  .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
    display:inline;
      position: absolute; /* Posiciona el icono hamburguesa y cruz */
      right: 0;/* Posiciona el icono hamburguesa y cruz */
      top: 0;/* Posiciona el icono hamburguesa y cruz */
      width: 30px;/* Posiciona el icono hamburguesa y cruz */
      height: 30px;/* Posiciona el icono hamburguesa y cruz */
    }
    
    .respmenu .fa-bars, .respmenu .fa-times {
      font-size: 30px;  /* le da tamaño al icono hamburguesa y cruz */
      pointer-events: none; /* Desbloquea el click del boton hamburguesa */
    }
    
    .respmenu input[type="checkbox"] {
      opacity: 0; /* oculta el checkbox original */
    }
    
    .respmenu {
      color: white;/* le da color al icono hamburguesa */
      position: relative;/* posiciona el icono hamburguesa */
      min-height: 30px;/* le da el tamaño de la barrita cerrada */
    }
    
    .respmenu nav {
      display: none;/* le da el movimiento de abrir y cerrar */
    }
    
    .respmenu input:checked ~ nav {
      display: block; /* extiende los elementos */
      
    }
    
    .respmenu input:checked ~ .fa-bars {
      display: none; /* oculta el icono hamburguesa cuando se extiende */
    }
    
    .respmenu input:not(:checked) ~ .fa-times {
      display: none; /* oculta el icono cruz cuando esta cerrada */
    }
                  

  }
      

  @media all and (max-width: 480px){
    
    header h1{
      font-size: 20px;
    }

    /* Tamaño del icono del menú hamburguesa */
    .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
      width: 20px;/* Posiciona el icono hamburguesa y cruz */
      height: 20px;/* Posiciona el icono hamburguesa y cruz */
    }
    .respmenu .fa-bars, .respmenu .fa-times {
      font-size: 20px;  /* le da tamaño al icono hamburguesa y cruz */
    }
    .respmenu {
      min-height: 20px;/* le da el tamaño de la barrita cerrada */
    }
    

  }