
/* Diseñado como mobile first para index.html */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Contenedores para grids */
.cont-1{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    align-content: center;
}
.cont-2{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    align-content: center;
}
.cont-3{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    align-content: center;
    
}
.cont-4{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    align-content: center;
    gap: 10px;
}

/* Formato de la foto circular */
#foto{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

/* Formato de los elementos */
header{
    background-color: #27305b;
    
}
    header ul{
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        list-style:none;
    }
        header h3{
        margin: 15px;
        color:white;
        font-family: 'Spartan', sans-serif;
        text-align: center;
        }