*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #27305b;

}

.arta{
    background-color: #f58c77;
}
.artb{
    background-color: #ffe5a0;
}

footer{
    text-align: center;
    background-color: #27305b;
}


